.important-msg {
    text-align: center;
}

.center-div {
    vertical-align:middle;
}

.input-feedback {
    display: none;
    color: red;
}


[data-role="footer"] {
    position: fixed;
    bottom: 0px;
    width: 100%;
}


#settings-page-reset {
    width: 100%;
    margin-right: 35px;
    margin-left: 5px;
}


