.important-msg {
    text-align: center;
}

.center-div {
    vertical-align:middle;
}

.input-feedback {
    display: none;
    color: red;
}

[data-role="header"] {
    top: 0px;
    height: 45px;
}


[data-role="footer"] {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

[data-role="footer"] button {
    height: 32px;
}

#settings-page-reset {
    width: 100%;
    left: 5%;
    width: 90%;
}

.main-page-footer-item-left {
    float: left;
}

.main-page-footer-item-right {
    float: right;
}

[src="map.html"] {
    position: fixed;
    top: 10%;
    height: 80%;
    left: 4%;
    width: 92%;
    border: solid thin transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 16px;
} 

.main-page-popup {
    position: fixed;
    top: 10%;
    height: 80%;
    left: 4%;
    width: 92%;
    border: solid thin transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 16px;
}

#main-page-send-alert {
    position: fixed;
    display: table-cell;
    bottom: 9%;
    left: 5%;
    width: 90%;
    height: 10%;
    vertical-align: middle;
    
    background-image: url(img/alert.png);
    background-repeat: no-repeat;
    background-position: 20% 48%;
   
}

#main-page-view-info {
    position: fixed;
    bottom: 21%;
    width: 42.5%;
    left: 5%;
    height: 9%;
}


#main-page-caretakers {
    position: fixed;
    bottom: 21%;
    width: 42.5%;
    left: 52.5%;
    height: 9%;
}

#enter-id-continue {
    left: 5%;
    width: 90%;
}

#enter-id-load-div {
    visibility:hidden;
}

#enter-id-load-div img {
    position: fixed;
    top: 50%;
    left: 30%;
}

#enter-id-load-div span {
    position: fixed;
    top: 80%;
    left: 40%;
}

#info-page-info-table tr {
    margin-top: 10px;
}

#info-page-info-table .info-txt {
    width: 90px;
    vertical-align: top;
    font-weight: bold;
}

#info-page #personal button {
    margin-top: 25%;
    left: 5%;
    width: 90%;
    background-image: url(img/people.png);
    background-repeat:no-repeat;
    background-position: 5% 48%;
}

#main-page-notification-list {
    list-style: none;
    position: fixed;
    display: block;
    margin-top: 10px;
    left: 0px;
    width: 100%;
    height: 55%;
    overflow: auto;
}

#main-page-notification-list > li {
    height: 42px;
    text-indent: 35px;
    line-height: 10px;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    width: 80%;
    margin-left: -10%;
    width: 105%;
    font-size: 15px;
    cursor: pointer;
} 

#main-page-notification-list > .message-notification {
    background-image: url(img/message-icon.png);
}

#main-page-notification-list > .medical-notification {
    background-image: url(img/medicine-box-icon.png);
}

#main-page-notification-list > .alert-notification {
    background-image: url(img/notification-alert-icon.png);
}

.main-page-popup hr {
    margin-bottom: 10px;
}

#main-page-message-popup-reply {
    position: fixed;
    bottom: 12%;
    left: 5%;
    width: 60%;
    border: solid thin gray;  
    outline: none;
}

#main-page-message-popup-send {
    position: fixed;
    bottom: 10%;
    left: 70%;
    height: 35px;
    width: 20%;
    background-image: url(img/message-send-icon.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


#main-page-message-popup-remove-txt {
    position: fixed;
    left: 40px;
}

#main-page-message-popup-close {
    position: fixed;
    right: 21px;

}

.ui-focus {
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
    border: none;
}

.ui-input-text {
    border: none;
}