.important-msg {
    text-align: center;
}

.center-div {
    vertical-align:middle;
}

.input-feedback {
    display: none;
    color: red;
}


[data-role="footer"] {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

[data-role="footer"] button {
    height: 32px;
}

#settings-page-reset {
    width: 100%;
    margin-right: 35px;
    margin-left: 5px;
}

.main-page-footer-item-left {
    float: left;
}

.main-page-footer-item-right {
    float: right;
}

[src="map.html"] {
    position: fixed;
    top: 10%;
    height: 80%;
    left: 5%;
    width: 90%;
}

